.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(167, 70, 70);
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(31, 160, 110);
}
body{
    margin: 0px;
    background-color:#1b1919;
    
}
a{
    text-decoration :none
}
a:link{
    color:#bb3838;
}

/*a:old*/
/*a:clicked*/
/*a:seen{*/
a:visited{
    color: #FFFFFF;
}

.bodyimg{
    position: absolute;
}
.bodyimg p{
    color:#674dc4;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    color:#9e1480;
    font-family: fantasy;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:80%;
    transform: translate(-40%, -40%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid rgb(247, 75, 75);
    border-radius: 50px;
}
.origami {
    
    border-radius: 40px;
    background-color: #e28383;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}

 .origami:hover{ 
/*.origami : mouseover{*/
/*.origami:link{*/
/*origami:hover{*/

    transform: scale(1.2);
}